{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block main_content %}
    <div class="container-fluid px-4">
        <!-- section searchForMobile -->
        <div class="row my-4 sm-my-3 sm-mt-0" id="searchForMobile">
            <div class="col">
                <form>
                    <div class="input-group">
                        <input
                                type="text"
                                class="form-control form-control-dark text-bg-dark text-white"
                                value="search here"
                        />
                        <a class="btn" href="../search-results/index.html">
                            <i class="bi bi-search"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- section searchForMobile ends -->

        <!-- main_content -->

        <!-- breadcrumb -->
        <!-- todo -->
        <nav aria-label="breadcrumb" class="mt-4 sm-d-none d-none">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item">
                    <a
                            href="../index.html"
                            class="fw-semibold text-decoration-none"
                    >
                        <i class="bi bi-house-door-fill me-2"></i>
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html#" class="fw-semibold text-decoration-none">
                        Products
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    All products
                </li>
            </ol>
        </nav>
        <!-- breadcrumb ends -->

        <!-- page title -->
        <div class="pageTitle pt-3 pb-3 md-pt-0">
            <h3 class="md-mb-0"><a href="{% url 'sells' %}">Sales</a></h3>
            <div class="btn-toolbar mb-2">
                <div class="btn-group me-2">
                    <button
                            id="generateReport"
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#modalGenerateReport"
                    >
                        Report
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        Export
                    </button>
                </div>

                <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    <span data-feather="calendar"></span>
                    More options
                </button>

                <ul class="dropdown-menu dropdown-menu-end me-2">
                    <li>
                        <a class="dropdown-item" href="index.html#">
                            <small>
                                <i class="bi bi-1-square me-2"></i>
                                Option one
                            </small>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="index.html#">
                            <small>
                                <i class="bi bi-2-square me-2"></i>
                                Option two
                            </small>
                        </a>
                    </li>
                </ul>

                <div class="btn-group ms-2">
                    <button
                            id="create_button"
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#modalCreate"
                    >
                        Create New
                    </button>

                </div>
            </div>
        </div>
        <!-- page title ends -->

        <!-- table -->
        <div class="row sm-pt-0">
            <div class="col">
                <div class="card">
                    <div class="card-body table-responsive">
                        <div class="table-responsive">
                            <table class="table overflow-scroll table-hover">
                                <thead>
                                <tr>
                                    <th>Sale Date</th>
                                    <th>Sale Price</th>
                                    <th>Sale Image</th>
                                    <th>Sale Place</th>
                                    <th>Buyer</th>
                                    <th>created</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sell in page_obj %}
                                    <tr>
                                        <td>{{ sell.sell_date }}</td>
                                        <td>${{ sell.sell_price }}</td>
                                        <td class="d-flex align-items-center">
                                            <img
                                                    {% if sell.sell_image %}
                                                        src="{{ sell.sell_image.url }}"
                                                    {% else %}
                                                        src=""
                                                    {% endif %}
                                                        class="productImg me-2"
                                                        alt=""
                                            />
                                        </td>
                                        <td>{{ sell.sell_place }}</td>
                                        <td>{{ sell.buyer }}</td>
                                        <td>{{ sell.created_at }}</td>
                                        <td>
                                            <a
                                                    href="#"
                                                    class="amj-a me-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalDetail"
                                                    data-instance-id="{{ sell.id | safe }}"
                                                    data-operation-type="sale_details"
                                                    onclick="get_sell_details(this)"
                                            >
                                                <i class="bi bi-link-45deg"></i>
                                            </a>

                                            <a
                                                    href="#"
                                                    class="amj-a me-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalEdit"
                                                    data-instance-id="{{ sell.id | safe }}"
                                                    data-operation-type="sale_update"
                                                    onclick="get_sell_details(this)"
                                            >
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a
                                                    href="index.html#"
                                                    class="amj-a me-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalDeleteConfirmation"
                                                    data-operation-type="sale_delete"
                                                    onclick="get_sell_details(this)"
                                            >
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center my-3">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">Previous</a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {#                            <div class="d-flex justify-content-center">#}
                            {#                                <select id="page-select" class="form-select w-auto">#}
                            {#                                    {% for num in page_obj.paginator.page_range %}#}
                            {#                                        <option value="{{ num }}" {% if page_obj.number == num %}selected{% endif %}>#}
                            {#                                            Page {{ num }}</option>#}
                            {#                                    {% endfor %}#}
                            {#                                </select>#}
                            {#                            </div>#}
                        </nav>
                        <!-- Pagination ends -->
                    </div>
                </div>


            </div>
        </div>
        <!-- table ends -->

        <!-- modal for detail -->
        <div class="modal" id="modalDetail" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        {#                        <h6 class="modal-title">Smartphone x | 2024</h6>#}
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div
                                    class="col-lg-3 d-flex justify-content-center align-item-center"
                            >
                                <img
                                        class="img-fluid img-thumbnail modal_details_img"
                                        src="https://placehold.co/200x200.png"
                                        alt=""
                                />
                            </div>
                            <div class="col-lg-8 sm-mt-1">
                                <!--  -->
                                <div>
                                    <h4>Sale Date : <span class="modal_details_sale_date"></span></h4>
                                    <p class="modal_details_sale_description">

                                    </p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <span>
                                        <h6>Price</h6>
                                        <p class="modal_details_sale_price">$599.99</p>
                                    </span>
                                    <span>
                                        <h6>Sale Place</h6>
                                        <p class="modal_details_sale_place">Navaron</p>
                                   </span>
                                    <span>
                                      <h6>Buyer</h6>
                                      <p class="modal_details_sale_buyer">Biddut</p>
                                    </span>
                                </div>

                                <!-- Modified date -->
                                <div>
                                    <h6>Created Date</h6>
                                    <p class="modal_details_sale_created_at">24-01-2024</p>
                                </div>
                                <div>
                                    <h6>Modified Date</h6>
                                    <p class="modal_details_sale_updated_at">24-01-2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for detail ends -->

        <!-- modal for create -->
        <div class="modal modal-dark" tabindex="-1" id="modalCreate">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h6 class="modal-title">Create new Sales</h6>
                        <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>

                    <div class="modal-body">
                        <form action="{% url 'sells' %}" method="post" id="create_sale" enctype="multipart/form-data"
                              novalidate>
                            {% csrf_token %}

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_date" class="form-label"> Sale Date </label>
                                    <input
                                            type="date"
                                            class="form-control"
                                            id="sell_date"
                                            name="sell_date"
                                            placeholder=""
                                            value=""
                                    />
                                    {% if form.errors.sell_date %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.sell_date }}</p>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_price" class="form-label">Sale Price</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            id="sell_price"
                                            name="sell_price"
                                            placeholder="Sale Price"
                                            value=""
                                    />
                                    {% if form.errors.sell_price %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.sell_price }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_image" class="form-label">Sale image</label>
                                    <input
                                            class="form-control"
                                            type="file"
                                            id="sell_image"
                                            name="sell_image"
                                            placeholder="Sale Image"
                                            value=""
                                            accept="image/*" s
                                    />
                                    {% if form.errors.sell_image %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.sell_image }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <label for="sell_place" class="form-label">Sale place</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="sell_place"
                                            name="sell_place"
                                            placeholder="sell place"
                                            value=""
                                    />
                                    {% if form.errors.sell_place %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.sell_place }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_buyer" class="form-label">Buyer</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="sell_buyer"
                                            name="buyer"
                                            placeholder="Buyer"
                                            value=""
                                    />
                                    {% if form.errors.buyer %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.buyer }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <label for="sell_description" class="form-label">Sale Description</label>
                                    <textarea
                                            class="form-control"
                                            id="sell_description"
                                            name="sell_description"
                                            rows="1"
                                            placeholder="sale description"
                                    ></textarea>
                                    {% if form.errors.sell_description %}
                                        <div class="text-danger">
                                            <p class="text-danger my-3">{{ form.errors.sell_description }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"> Close
                                </button>
                                <input type="submit" class="btn btn-warning" data-bs-dismiss="modal" value="Create">

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- modal for create ends -->

        <!-- modal for edit -->
        <div class="modal modal-dark" tabindex="-1" id="modalEdit">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h6 class="modal-title">Update Sale</h6>
                        <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form
                                action=""
                                method="post"
                                data-update-instance-id=""
                                id="update_sale_form"
                                enctype="multipart/form-data"
                                novalidate
                        >
                            {% csrf_token %}

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_date_update_modal" class="form-label"> Sale Date </label>
                                    <input
                                            type="date"
                                            class="form-control"
                                            id="sell_date_update_modal"
                                            name="sell_date"
                                            placeholder=""
                                            {% if sell %}
                                                {#                                            value="{{ sell.sell_date }}"#}
                                            value="{{ sell.sell_date|date:'Y-m-d' }}"
                                            {% else %}
                                            value=""
                                            {% endif %}

                                    />
                                    {% if form.errors.sell_date %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.sell_date }}</p>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_price_update_modal" class="form-label">Sale Price</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            id="sell_price_update_modal"
                                            name="sell_price"
                                            placeholder="Sale Price"
                                            {% if sell %}
                                            value="{{ sell.sell_price }}"
                                            {% else %}
                                            value=""
                                            {% endif %}
                                    />
                                    {% if form.errors.sell_price %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.sell_price }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_image_update_modal" class="form-label">Sale image</label>
                                    <input
                                            class="form-control"
                                            type="file"
                                            id="sell_image_update_modal"
                                            name="sell_image"
                                            placeholder="Sale Image"
                                            value=""
                                            accept="image/*"
                                    />
                                    {% if form.errors.sell_image %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.sell_image }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <label for="sell_place_update_modal" class="form-label">Sale place</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="sell_place_update_modal"
                                            name="sell_place"
                                            placeholder="sell place"
                                            {% if sell %}
                                            value="{{ sell.sell_place }}"
                                            {% else %}
                                            value=""
                                            {% endif %}
                                    />
                                    {% if form.errors.sell_place %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.sell_place }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="row">
                                <div class="mb-3 col-lg-6">
                                    <label for="sell_buyer_update_modal" class="form-label">Buyer</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="sell_buyer_update_modal"
                                            name="buyer"
                                            placeholder="Buyer"
                                            {% if sell %}
                                            value="{{ sell.buyer }}"
                                            {% else %}
                                            value=""
                                            {% endif %}

                                    />
                                    {% if form.errors.buyer %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.buyer }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="mb-3 col-lg-6">
                                    <label for="sell_description_update_modal" class="form-label">Sale
                                        Description</label>
                                    <textarea
                                            class="form-control"
                                            id="sell_description_update_modal"
                                            name="sell_description"
                                            rows="1"
                                            placeholder="sale description"
                                    >{% if sell %}
                                        {{ sell.sell_description | safe }}
                                    {% endif %}
                                    </textarea>
                                    {% if form.errors.sell_description %}
                                        <div class="text-danger form_update_error_class">
                                            <p class="text-danger my-3">{{ form.errors.sell_description }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"> Close
                                </button>
                                <input type="submit" class="btn btn-warning" data-bs-dismiss="modal" value="Update">

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <!-- modal for edit ends -->

        <!-- modal for delete -->
        <div
                class="modal modal-dark"
                tabindex="-1"
                id="modalDeleteConfirmation"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h6 class="modal-title">You are about to delete</h6>
                        <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>

                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger mb-0" role="alert">
                            Are you sure you want to delete this?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        {#                        <button#}
                        {#                                type="button"#}
                        {#                                class="btn btn-danger"#}
                        {#                                data-bs-dismiss="modal"#}
                        {#                        >#}
                        {#                            Yes, I am sure#}
                        {#                        </button>#}

                        <a
                                href=""
                                type="button"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                id="delete_modal_confirm_button"
                        >Yes, I am sure</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for delete ends -->

        <!-- main_content ends -->
    </div>
    <!-- modal for generate report -->

    <div class="modal" id="modalGenerateReport" tabindex="-1">
        <div
                class="d-flex flex-column justify-content-center align-items-center modal-dialog modal-dialog-centered modal-xl text-center"
        >
            <div
                    class="spinner-grow text-danger"
                    style="width: 4rem; height: 4rem"
                    role="status"
            >
                <span class="sr-only"></span>
            </div>
            <p class="mb-0 mt-4 sm-mt-3">Generating report...</p>
            <p>Just a demo, skip by pressing anywhere.</p>
        </div>
    </div>
    <!-- modal for generate report ends -->

{% endblock main_content %}

{% block scripts %}
    <script>
        function submit_update_form() {
            let form = document.getElementById('update_sale_form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                let updateInstanceId = form.getAttribute('data-update-instance-id');
                form.setAttribute('action', `/sells/${updateInstanceId}/`);
                form.submit();
            });
        }

        function insert_data_in_sell_update_modal(data) {

            let update_form = document.getElementById('update_sale_form');
            update_form.setAttribute('data-update-instance-id', `${data.id}`);

            let sale_date = document.querySelector('#sell_date_update_modal');
            sale_date.value = data.sell_date;

            /*if (data.sell_image !== "") {
                let sell_image = document.querySelector('#sell_image_update_modal');
                console.log(data.sell_image)
                sell_image.src = data.sell_image;
            }*/

            let sale_description = document.querySelector('#sell_description_update_modal');
            sale_description.textContent = data.sell_description;

            let sale_price = document.querySelector('#sell_price_update_modal');
            sale_price.value = data.sell_price;

            let sale_place = document.querySelector('#sell_place_update_modal');
            sale_place.value = data.sell_place;

            let sale_buyer = document.querySelector('#sell_buyer_update_modal');
            sale_buyer.value = data.buyer;
        }

        function insert_data_in_sell_detail_modal(data) {
            let sale_date = document.querySelector('.modal_details_sale_date');
            sale_date.textContent = `${new Intl.DateTimeFormat('en-US', {
                month: 'long',
                day: '2-digit',
                year: 'numeric',
            }).format(new Date(data.sell_date))}`;
            if (data.sell_image !== "") {
                let sell_image = document.querySelector('.modal_details_img');
                console.log(data.sell_image)
                sell_image.src = data.sell_image;
            }

            let sale_description = document.querySelector('.modal_details_sale_description');
            sale_description.textContent = data.sell_description;

            let sale_price = document.querySelector('.modal_details_sale_price');
            sale_price.textContent = data.sell_price;

            let sale_place = document.querySelector('.modal_details_sale_place');
            sale_place.textContent = data.sell_place;

            let sale_buyer = document.querySelector('.modal_details_sale_buyer');
            sale_buyer.textContent = data.buyer;
            let sale_created_at = document.querySelector('.modal_details_sale_created_at');
            sale_created_at.textContent = `${new Intl.DateTimeFormat('en-US', {
                month: 'long',
                day: '2-digit',
                year: 'numeric',
                hour: 'numeric',
                minute: '2-digit',
                hour12: true
            }).format(new Date(data.created_at))}`;

            let sale_updated_at = document.querySelector('.modal_details_sale_updated_at');
            sale_updated_at.textContent = `${new Intl.DateTimeFormat('en-US', {
                month: 'long',
                day: '2-digit',
                year: 'numeric',
                hour: 'numeric',
                minute: '2-digit',
                hour12: true
            }).format(new Date(data.updated_at))}`;
        }

        function hide_form_update_error_messages() {
            let errorElements = document.querySelectorAll('.form_update_error_class');
            errorElements.forEach(function (element) {
                element.style.display = 'none';
            });
        }

        function get_sell_details(e) {
            let instanceId = e.getAttribute('data-instance-id');
            let operation_type = e.getAttribute('data-operation-type');
            $.ajax({
                url: `/sells/${instanceId}`,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    if (operation_type === 'sale_details') {
                        insert_data_in_sell_detail_modal(response.data)
                    } else if (operation_type === 'sale_update') {
                        hide_form_update_error_messages();
                        insert_data_in_sell_update_modal(response.data)
                    }else if (operation_type === 'sale_update') {
                        hide_form_update_error_messages();
                        insert_data_in_sell_update_modal(response.data)
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching sell details:', status, error);
                }
            });
        }

        function form_error_check() {
            let form_creation_error_exists = '{{ form_creation_error_exists | safe }}';
            let form_update_error_exists = '{{ form_update_error_exists | safe }}';
            if (form_creation_error_exists === 'True') {
                showModal('sale_create_modal');
            } else if (form_update_error_exists === 'True') {
                showModal('sale_update_modal');
            }
        }

        function showModal(modalName) {
            if (modalName === 'sale_create_modal') {
                let modal = new bootstrap.Modal(document.getElementById('modalCreate'));
                modal.show();
            } else if (modalName === 'sale_update_modal') {
                let modal = new bootstrap.Modal(document.getElementById('modalEdit'));
                modal.show();
            }

        }

        document.addEventListener('DOMContentLoaded', (event) => {
            form_error_check();
            submit_update_form();
        });

        /*document.getElementById('page-select').addEventListener('change', function () {
            var selectedPage = this.value;
            window.location.href = '?page=' + selectedPage;
        });*/


    </script>
{% endblock scripts %}